/*Universal*/
html {
    font-size: 18px;
}

.content-container {
    padding: 0 2rem;
}

.flex {
    display: flex;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    top: 0;
}

header div {
    background-color: white;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-right: 1rem;
}

header nav a:last-child {
    margin-right: 0;
}

#logo {
    width: 2rem;
    overflow: hidden;
}

#logo {
    max-width: 100%;
    height: auto;
    display: block;
}

#title {
    align-items: center;
}

/*Main*/
main {
    margin-top: 4rem;
    background-color: #e7e7e7;
    height: auto;
}

/*Banner section*/
#banner {
    background-color: inherit;
    padding: 2rem 0;
    align-items: center;
}

#banner .img-container {
    width: 60%;
    overflow: hidden;
}

#banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

#banner .text-container {
    margin-left: 3rem;
    line-height: 1.1;
    padding-right: 1rem;
}

#banner h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #525454;
    /*color: #444848;*/
}

#banner p {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    color: #696a6a;
    /*color: #555858;*/
}

#banner button {
    background-color: #525454;
    padding: .5rem 0;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

/*On campus section*/
#on-campus {
    background-color: inherit;
    padding: 2rem 0;
    align-items: center;
    display: flex;
}
#on-campus .left {
    flex-direction: column;
    width: 100%;
    margin-right: 1.5rem;
    /*display: block;*/
}

#on-campus .img-container {
    width: 100%;
    overflow: hidden;
}

#on-campus img {
    max-width: 100%;
    height: auto;
    display: block;
}

#on-campus .blocks-container {
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
    border-left: 1px solid gray;
    display: inline-block;
}

#on-campus .block {
    display: flex;
    align-items: center;
    padding: 1rem;
}


#on-campus .block .img-container {
    width: 35%;
}

#on-campus .block .text-container {
    padding-left: 1rem;
}
/*Footer*/
footer {
    border-top: 1px solid gray;
}

